.account-page__header
  %h1.account-page__header__text
    = link_to root_path, class: "account-page__header-page__link" do
      = image_tag 'logo.png', alt: 'furima', class: 'account-page__header__link__img'
  -# %nav.account-page__header__progres-bar
  -#   %ol.v__progres-bar__ol
  -#     %li.account-page__header__progres-bar__ol__li
  -#       会員情報
  -#     %li.account-page__header__progres-bar__ol__li
  -#       住所情報登録
  -#     %li.account-page__header__progres-bar__ol__li
  -#       完了