.appbanner
  .appbanner__internal
    %h2.appbanner__internal__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.appbanner__internal__text
      今すぐ無料ダウンロード！
    .appbanner__internal__icon
      = link_to '#' do
        = image_tag("Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", class: "appbanner__internal__icon__abtn")
      = link_to '#' do
        = image_tag("google-play-badge.png", class: "appbanner__internal__icon__gbtn")