%body
  .container
    .HeaderWrapper
      .HeaderInner
        .HeaderTop
          %h1
            %a{:href => "/"}
              %img{:src => "/"}/
          %form.HeaderForm{:action => "/"}
            %input.class{:class => "search-box> <i =", "icon-search" => "", :name => "key word", :placeholder => "何かお探しですか？", :type => "search", :value => ""}/
      .HeaderMenu
        %h3「ここにカテゴリーなどのアイコンが入る」
      .CurrentLocation
        %h3「ここに トップ→マイページ が入る」
  %main.l-container.clearfix
    .l-content
      %section.mypage-user-icon
        %a{:href => "#", class: "mypage-user-icon-link"}
          %figure         
          %img{:src => "#"}/
          %h2.bold ニックネーム
          .mypage-number
            %div
            "評価"
            %span.bold 3
            %div
            "出品数"
            %span.bold 0
      %section.mypage-tab-container-notification-todo
        %h3.mypage-tabお知らせ
        %div.tab-cotent
          %ul.mypage-info-list
            %liお知らせ情報1
            %liお知らせ情報2
            %liお知らせ情報3
            %liお知らせ情報4
            %liお知らせ情報5
            .mypage-go-list
              %a{:href => "#"} 一覧を見る
      %section.mypage-tab-container
        %h2.mypage-tab-head 購入した商品
        .mypage-tabs
          %h3 
            %a{:href => "#"}取引中
          
          .tab-content
            %ul.mypage-item-list.tab-pane.active{:id => "#"}
              %li.mypage-item-not-found.bold 
              
    .l-side
      %nav.mypage-nav
        %ul.mypage-nav-list
          %li.mypage-nav-list-tab.list-title
            %a.mypage-nav-list-item{:href => "#"}
              マイページ
              %i{:class => "icon-arrow-right>"}
          %li.mypage-nav-list-tab
            %a.mypage-nav-list-item{:href => "#"}
              お知らせ
              %i{:class => "icon-arrow-right>"}
          %li.mypage-nav-list-tab
            %a.mypage-nav-list-item.active{:href => "#"}
              下書き一覧
              %i{:class => "icon-arrow-right>"}
          %li.mypage-nav-list-tab
            %a.mypage-nav-list-item.active{:href => "#"}
              出品する
              %i{:class => "icon-arrow-right>"}
          %li.mypage-nav-list-tab
            %a.mypage-nav-list-item.active{:href => "#"}
              出品した商品-出品中
              %i{:class => "icon-arrow-right>"}
          %li.mypage-nav-list-tab
            %a.mypage-nav-list-item.active{:href => "#"}
              出品した商品-取引中
              %i{:class => "icon-arrow-right>"}
          %li.mypage-nav-list-tab
            %a.mypage-nav-list-item.active{:href => "#"}
              出品した商品-売約済み
              %i{:class => "icon-arrow-right>"}
          %li.mypage-nav-list-tab
            %a.mypage-nav-list-item.active{:href => "#"}
              購入した商品-取引中
              %i{:class => "icon-arrow-right>"}
          %li.mypage-nav-list-tab
            %a.mypage-nav-list-item.active{:href => "#"}
              購入した商品-過去の取引
              %i{:class => "icon-arrow-right>"}
          %li.mypage-nav-list-tab
            %a.mypage-nav-list-item.active{:href => "#"}
              評価一覧
              %i{:class => "icon-arrow-right>"}
          %li.mypage-nav-list-tab
            %a.mypage-nav-list-item.active{:href => "#"}
              ガイド
              %i{:class => "icon-arrow-right>"}
          %li.mypage-nav-list-tab
            %a.mypage-nav-list-item.active{:href => "#"}
              お問い合わせ
              %i{:class => "icon-arrow-right>"}
            %h3.mypage-nav-head 
              フリペイ
              %ul.mypage-nav-list
                %li.mypage-nav-list-tab
                  %a.mypage-nav-list-item{:href => "#"}
                    売上・振込申請
                    %i.icon-arrow-right
                  %li.mypage-nav-list-tab
                    %a.mypage-nav-list-item{:href => "#"}
                      ポイント
                      %i.icon-arrow-right
                %h3.mypage-nav-head 設定
                %ul.mypage-nav-list
                  %li.mypage-nav-list-tab
                    %a.mypage-nav-list-item{:href => "#"}
                      プロフィール
                      %i.icon-arrow-right
                  %li.mypage-nav-list-tab
                    %a.mypage-nav-list-item{:href => "#"}
                      発送元・お届け先住所変更
                      %i.icon-arrow-right
                  %li.mypage-nav-list-tab
                    %a.mypage-nav-list-item{:href => "#"}
                      支払い方法
                      %i.icon-arrow-right
                  %li.mypage-nav-list-tab
                    %a.mypage-nav-list-item{:href => "#"}
                      メール/パスワード
                      %i.icon-arrow-right
                  %li.mypage-nav-list-tab
                    %a.mypage-nav-list-item{:href => "#"}
                      本人情報
                      %i.icon-arrow-right
                  %li.mypage-nav-list-tab
                    %a.mypage-nav-list-item{:href => "#"}
                      電話番号の確認
                      %i.icon-arrow-right
                  %li.mypage-nav-list-tab
                    %a.mypage-nav-list-item{:href => "#"}
                      ログアウト
                      %i.icon-arrow-right
                  
  %footer